<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Redirect 404 to homepge
    # Redirect www to non-www (or vice versa)
    RewriteCond %{HTTP_HOST} ^www.hunttr.com [NC]
    RewriteRule ^(.*)$ https://hunttr.com/$1 [L,R=301]

    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-SSL} !on
    RewriteCond %{HTTP_HOST} ^www\.hunttr\.com$
    RewriteRule ^/?$ "https\:\/\/hunttr\.com\/" [R=301,L]
    # ErrorDocument 404 http://localhost/hunttr.com/
</IfModule>